In [5]:
import pandas as pd
df={'Observed':[41,70],'Expected':[33,67],}

In [6]:
df1=pd.DataFrame(df)

In [7]:
df1

   Observed  Expected
0        41        33
1        70        67

In [8]:
df1['diff']=df1['Observed']-df1['Expected']

In [9]:
chi=sum((df1['diff']**2)/df1['Expected'])
chi

2.073722297602895

In [11]:
import scipy.stats
p_value=scipy.stats.chi2.ppf(0.5,1)

In [13]:
if p_value<0.5:
    print('P value is',p_value)
    print()
    print('Since p-value is less than alpha,reject null')
else:
    print('P value is',p_value)
    print()
    print('Since p-value is more than alpha,accept null')

P value is 0.454936423119572

Since p-value is less than alpha,reject null