In [1]:
import numpy as np

In [34]:
import random
import statistics

In [3]:
#Create a code that takes in 2 arrays and tells if they are independent or not

In [15]:
def indie(a,b):
a = [12,13,14,15,12,13,14,12,22,14,30]
b = [20,21,22,23,12,13,14,34,12,10,9]

In [35]:
meana = np.mean(a)
meanb = np.mean(b)
moda= statistics.mode(a)
modb= statistics.mode(b)

In [31]:
from math import sqrt
sumvara = 0
for i in a:
    sumvara+=round(i-meana,2)
    
varA=(sumvara/len(a))
stdA=sqrt(abs(varA))
varA
stdA

0.06741998624632708

In [32]:
sumvarb = 0
for j in b:
    sumvarb+=round(j-meanb,2)
varB=(sumvarb/len(b))
stdB=sqrt(abs(varB))
varB
stdB

0.05222329678671343

In [9]:
covar = 0
for i in range(len(a)):
    covar+=a[i]*b[i]
covariance = covar/(len(a)+len(b))-meana*meanb
print(covariance)

-143.19421487603307

In [37]:
skewa=(meana-moda)/stdA
skewa

52.58758927213063

In [38]:
skewb=(meanb-modb)/stdB
skewb

100.96504045429687

In [64]:

import pandas as pd
df=pd.read_csv("filename.csv1.csv")

In [65]:
df

    Before Course\t  After Course
0                44            53
1                40            38
2                61            69
3                52            57
4                32            46
5                44            39
6                70            73
7                41            48
8                67            73
9                72            74
10               53            60
11               72            78

In [67]:
df['BC']=df['Before Course\t']

In [68]:
df['AC']=df['After Course']

In [69]:
df['dev']= df['BC']-df['AC']
df['dev2']=df['dev']**2

In [70]:
df.head()

   Before Course\t  After Course  BC  AC  dev  dev2
0               44            53  44  53   -9    81
1               40            38  40  38    2     4
2               61            69  61  69   -8    64
3               52            57  52  57   -5    25
4               32            46  32  46  -14   196

In [74]:
df.drop(['Before Course\t','After Course'],axis=1,inplace=True)

In [76]:
df.head()

   BC  AC  dev  dev2
0  44  53   -9    81
1  40  38    2     4
2  61  69   -8    64
3  52  57   -5    25
4  32  46  -14   196

In [78]:
num=sum(df['dev'])
den=sqrt((len(df['BC'])*sum(df['dev2'])-(sum(df['dev'])**2))/(len(df['BC'])-1))

In [79]:
ttest=num/den

In [80]:
ttest

-3.445359719553577

In [83]:
import scipy.stats
p_value=scipy.stats.t.sf(abs(ttest),len(df['BC'])-1)
p_value

0.0027363339091732606